@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-color: rgb(238, 249, 191);

}

header {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

header h1 {
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;

    text-align: center;
}

header span{
    
    position: fixed;

    height: 30px;
    

    margin-top: 10px;
    margin-right: 10vw;
    margin-left: auto;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 1px;

    color: white;
    background-color: #75B79E;

    font-family: 'Roboto', sans-serif;

    padding: 5px;
}

main {

    display: flex;
    
}

ul{
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}



/* Configurações das cartas*/
.carta {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .5s;
    width: 117px;
    height: 146px;
    margin: 20px;
    
}

.carta img {
    width: 100px;
    height: 100px;
}

.tamanhoCarta {
    width: 117px;
    height: 146px;
    background-color: rgb(167, 233, 175);
    box-shadow: 2px 1px 5px rgb(192, 188, 188);
    border-radius: 8px;
    border: 2px solid #99CEA8;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frente {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.verso {
    backface-visibility: hidden;
}

.virar {
    transform: rotateY(180deg);
}

/* Fim das configurações das cartas*/

@media  (max-width: 600px) {
    header {
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    header h1 {
        width: 300px;
        font-size: 36px;
        text-align: center;
    }
    
    ul{
        display: block;

    }
    
}

/*Bloquear Tela*/

.bloqueada{
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 2000px;


}
/*Fim Bloquear Tela*/